streamlit==1.53.1
streamlit-folium==0.26.1
folium==0.20.0
geopy==2.4.1
requests==2.32.5
pandas==2.3.3
numpy==2.3.5
shapely==2.1.2
xlrd==2.0.1
scikit-learn==1.8.0
xgboost==3.2.0
xarray==2026.2.0
xclim==0.55.0
streamlit-desktop-app==0.3.4; python_version >= "3.9" and python_version < "3.13"
